<div class="container">
    <form [formGroup]="productFormGroup" *ngIf="productFormGroup">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name"
            [ngClass]="{'is-valid': productFormGroup.get('name')?.touched && productFormGroup.get('name')?.valid, 'is-invalid': productFormGroup.get('name')?.touched && productFormGroup.get('name')?.invalid}">

            <div *ngIf="productFormGroup.get('name')?.invalid" class="invalid-feedback">
                <div>Name is required!</div> 
            </div>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">
            <div *ngIf="productFormGroup.get('price')?.invalid">
                <div class="invalid-feedback">Price is required!</div> 
            </div>
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
            <div *ngIf="productFormGroup.get('quantity')?.invalid" class="invalid-feedback">
                <div>Name is required!</div> 
            </div>
        </div>
        <div class="form-group">
            <label>Selected</label>
            <input type="checkbox" class="form-check" formControlName="selected">
        </div>
        <div class="form-group">
            <label>Available</label>
            <input type="checkbox" class="form-check" formControlName="available">
        </div>
        <button (click)="onUpdateProduct()" type="submit" class="btn btn-success">Save</button>
    </form>
</div>    